.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;
}
.item {
    display: flex;
    padding: 5px;
    position: relative;
    background: #eee;
    border-bottom: 1px solid white;
}
.remove {
    position: absolute;
    right: 0px;
    top: 0px;
    background: palevioletred;
    padding: 5px;
}
.add {
    background: greenyellow;
    margin: 0;
    padding: 10px;
}